<p id="notice"><%= notice %></p>

<h1>Markers</h1>
<div id="createMarker">
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Subcategory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="data">
    <%= render("markers/data")%> 
  </tbody>
</table>
<div>
  <%= pie_chart @marker_type %>
</div>
<br>

<%= link_to 'New Marker', new_marker_path, remote: true %>
